In [1]:
import pandas as pd
import numpy as np

In [2]:
books_data = pd.read_csv('../../data_preprocessing/books_data.csv')
books_data=books_data.dropna()

In [3]:
books_data[books_data['authors']=='George Orwell']

,Unnamed: 0,id,best_book_id,work_id,books_count,isbn13,original_publication_year,title,language_code,average_rating,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,authors,summary
16,13,14,7613,2207778,896,9780452284240,1945.0,animal farm,eng,3.87,...,35472,66854,135147,433432,698642,648912,https://images.gr-assets.com/books/1424037542m...,https://images.gr-assets.com/books/1424037542s...,George Orwell,A satire on totalitarianism in which farm anim...
1102,845,846,5472,2966408,51,9780151010260,1950.0,animal farm,eng,4.26,...,1293,1212,3276,16511,40583,57179,https://images.gr-assets.com/books/1327959366m...,https://images.gr-assets.com/books/1327959366s...,George Orwell,George Orwell's classic satire on totalitarian...
5075,4003,4004,9646,2566499,151,9780156421170,1938.0,homage to catalonia,eng,4.14,...,1500,176,733,4407,10529,10036,https://images.gr-assets.com/books/1394868278m...,https://images.gr-assets.com/books/1394868278s...,George Orwell,Presents the British novelist's firsthand repo...
8519,6726,6727,9650,1171545,116,9781421808310,1934.0,burmese days,eng,3.84,...,929,144,811,3918,6521,3519,https://images.gr-assets.com/books/1415573403m...,https://images.gr-assets.com/books/1415573403s...,George Orwell,"George Bowling, the hero of this comic novel, ..."
12131,9641,9642,9648,3226250,99,9780141183720,1936.0,keep the aspidistra flying,eng,3.87,...,746,121,615,2926,4556,3043,https://images.gr-assets.com/books/1331244097m...,https://images.gr-assets.com/books/1331244097s...,George Orwell,"London 1934. Gordon Comstock, copywriter for t..."

In [4]:
books_data.isnull().sum()

Unnamed: 0                   0
id                           0
best_book_id                 0
work_id                      0
books_count                  0
isbn13                       0
original_publication_year    0
title                        0
language_code                0
average_rating               0
ratings_count                0
work_ratings_count           0
work_text_reviews_count      0
ratings_1                    0
ratings_2                    0
ratings_3                    0
ratings_4                    0
ratings_5                    0
image_url                    0
small_image_url              0
authors                      0
summary                      0
dtype: int64

In [5]:
books_data[books_data['isbn13']==9780451524940]

Empty DataFrame
Columns: [Unnamed: 0, id, best_book_id, work_id, books_count, isbn13, original_publication_year, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1, ratings_2, ratings_3, ratings_4, ratings_5, image_url, small_image_url, authors, summary]
Index: []

[0 rows x 22 columns]

In [6]:
books_data.dropna()

,Unnamed: 0,id,best_book_id,work_id,books_count,isbn13,original_publication_year,title,language_code,average_rating,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,authors,summary
0,0,1,2767052,2792775,272,9780439023480,2008.0,the hunger games the hunger games,eng,4.34,...,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,Suzanne Collins,"In a future North America, where the rulers of..."
3,2,3,41865,3212258,226,9780316015840,2005.0,twilight twilight,en-US,3.57,...,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,Stephenie Meyer,With 160 million copies of the Twilight Saga s...
4,3,4,2657,3275794,487,9780061120080,1960.0,to kill a mockingbird,eng,4.25,...,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,Harper Lee,Harper Lee's Pulitzer Prize-winning masterwork...
5,4,5,4671,245494,1356,9780743273560,1925.0,the great gatsby,eng,3.89,...,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,F. Scott Fitzgerald,A true classic of twentieth-century literature...
6,5,6,11870085,16827462,226,9780525478810,2012.0,the fault in our stars,eng,4.26,...,140739,47994,92723,327550,698471,1311871,https://images.gr-assets.com/books/1360206420m...,https://images.gr-assets.com/books/1360206420s...,John Green,Despite the tumor-shrinking medical miracle th...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12535,9994,9995,15613,2764239,199,9781416523730,1924.0,billy budd sailor,eng,3.09,...,681,1478,2225,3805,2985,1617,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,Herman Melville,This story of class conflict in Victorian Engl...
12536,9995,9996,7130616,7392860,19,9780441019460,2010.0,bayou moon the edge,eng,4.09,...,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...,Ilona Andrews,The second Peter Octavian novel in the classic...
12537,9996,9997,208324,1084709,19,9780679733710,1990.0,means of ascent the years of lyndon johnson,eng,4.25,...,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,Robert A. Caro,"Robert A. Caro's life of Lyndon Johnson, which..."
12539,9998,9999,8565083,13433613,7,9780061711530,2011.0,cinderella ate my daughter dispatches from the...,eng,3.65,...,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...,Peggy Orenstein,The acclaimed author of the groundbreaking bes...
12540,9999,10000,8914,11817,31,9780375700450,1998.0,the first world war,unknown,4.00,...,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...,John Keegan,A history of the Great War chronicles the even...

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
tvf = TfidfVectorizer(min_df=3, max_features=None, strip_accents='unicode', analyzer='word', ngram_range=(1,3), token_pattern=r'\w{1,}', stop_words='english')

In [9]:
tvf_matrix = tvf.fit_transform(books_data['summary'])

In [10]:
tvf_matrix.shape

(10498, 63687)

In [11]:
from sklearn.metrics.pairwise import sigmoid_kernel
sig = sigmoid_kernel(tvf_matrix, tvf_matrix)

In [12]:
sig[0]

array([0.76160075, 0.76159431, 0.7615942 , ..., 0.76159421, 0.7615943 ,
       0.76159416])

In [13]:
indices= pd.Series(books_data.index, index=books_data['title']).drop_duplicates()

In [14]:
indices

title
the hunger games the hunger games                                                               0
twilight twilight                                                                               3
to kill a mockingbird                                                                           4
the great gatsby                                                                                5
the fault in our stars                                                                          6
                                                                                            ...
billy budd sailor                                                                           12535
bayou moon the edge                                                                         12536
means of ascent the years of lyndon johnson                                                 12537
cinderella ate my daughter dispatches from the frontlines of the new girlie girl culture    12539
the first world war                                                                         12540
Length: 10498, dtype: int64

In [15]:
def give_recom(title, sig=sig):
    idx=indices[title]
    sig_score = list(enumerate(sig[idx]))
    sig_score = sorted(sig_score, key=lambda x:x[1], reverse=True)
    sig_score = sig_score[1:11]
    book_indices = [i[0] for i in sig_score]
    
    output_file = open('content_op.txt', 'w')
    output_file.write("\n".join([str(x) for x in book_indices]))
    output_file.close()
    
    return books_data['title'].iloc[book_indices]

In [16]:
# give_recom('my sunshine away')

9599            shakespeares romeo and juliet
9600            shakespeares romeo and juliet
9321                          getting over it
6409                        a matter of honor
9106                   eeny meeny helen grace
9541     the sweet potato queens book of love
10140                   wait till helen comes
5960         smooth talking stranger travises
9732                        say what you will
3441                  starcrossed starcrossed
Name: title, dtype: object