In [2]:
import pandas as pd
# from Content_Based_Chetan_Nain import *

# from surprise import Reader, Dataset, SVD
# from surprise.model_selection import cross_validate

In [6]:
import sys
sys.path.insert(0, '..')

from Content_Based.Content_Based_Chetan_Nain import *

In [7]:
give_recom('my sunshine away')

9599            shakespeares romeo and juliet
9600            shakespeares romeo and juliet
9321                          getting over it
6409                        a matter of honor
9106                   eeny meeny helen grace
9541     the sweet potato queens book of love
10140                   wait till helen comes
5960         smooth talking stranger travises
9732                        say what you will
3441                  starcrossed starcrossed
Name: title, dtype: object

In [9]:
books_data = pd.read_csv('../../data_preprocessing/books_data.csv')
books_data=books_data.dropna()

In [10]:
df = books_data.iloc[book_indices][['best_book_id','title', 'original_publication_year', 'ratings_count', 'average_rating']]
# df['est'] = df['best_book_id'].apply(lambda x: svd.predict(user_id, x).est)
# df = df.sort_values('est', ascending=False)

In [11]:
df.head()

,best_book_id,title,original_publication_year,ratings_count,average_rating
9599,265650,shakespeares romeo and juliet,2003.0,19052,4.09
9600,265650,shakespeares romeo and juliet,2003.0,19052,4.09
9321,33770,getting over it,2000.0,13240,3.53
6409,78970,a matter of honor,1985.0,16502,3.90
9106,23398806,eeny meeny helen grace,2014.0,8498,3.88

In [12]:


# def hybrid(user_id, title, n=10):
#     idx = indices[title]
#     sim_scores = list(enumerate(cosine_sim[idx]))
#     sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
#     sim_scores = sim_scores[1:51]
#     book_indices = [i[0] for i in sim_scores]
    
#     df = books.iloc[book_indices][['book_id', 'title', 'original_publication_year', 'ratings_count', 'average_rating']]
#     df['est'] = df['book_id'].apply(lambda x: svd.predict(user_id, x).est)
#     df = df.sort_values('est', ascending=False)
#     return df.head(n)